@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 242 241 236; /* #F2F1EC */
        --color-bg-main: 23 23 23; /* #171717 */
        --color-bg-muted: 36 36 36; /* #242424 */
        --color-border-main: 242 241 236; /* #F2F1EC */
        --timeline-color: #ffffff;
    }
    html.dark {

        --color-text-main: 23 23 23; /* #171717 */
        --color-bg-main: 242 241 236; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
        --timeline-color: #000000;
        
    }

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */

    .bg-primary {
    background-color: var(--timeline-color);
}

.education__time {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: top; /* Center the dot vertically in relation to the text */
    justify-content: top; /* Ensure vertical alignment */
    margin-right: 20px;
    width: 10px; /* Set a consistent width for alignment */
    padding-top: 7.5px
}

.education__time span:first-child {
    width: 10px;
    height: 10px;
    background-color: var(--timeline-color);
    border-radius: 50%; /* Make the dot circular */
    display: block;
    position: relative;
    z-index: 1;
}

/* The continuous vertical line across all elements */
.education__time::after {
    content: '';
    position: absolute;
    top: 2; /* Start from the top */
    left: 50%; /* Align the line to the center of the container */
    width: 2px; /* Line thickness */
    height: 112.8%; /* Stretch across the full height */
    background-color: var(--timeline-color);
    z-index: 0; /* Behind the dot */
    transform: translateX(-50%); /* Adjust for perfect centering */
    
}

.flex {
    display: flex;
    align-items: top; /* Align the dots with the title text */
    margin-bottom: 20px; /* Adjust space between items */
}



/* Last item: stop the line halfway through the last dot */
.flex:last-child .education__time::after {
    height: 0%; /* End the line halfway through the last dot */
}


}
