---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout
    title="Simone Boldrini"
    description="Simone Boldrini personal page"
    image={{ src: '/simoboldrini.JPEG', alt: 'The preview of the site' }}
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Academic work</h1>

    You can expect here papers on monetary intermediation, macro-finance and asset pricing!
</BaseLayout>
