---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import SchemaOrg from '../components/SchemaOrg.astro';

// Update Props to include canonicalURL
export type Props = HeadProps & {
    showHeader?: boolean;
    canonicalURL?: string | URL;
};

// Destructure and set default for canonicalURL
const { showHeader = true, canonicalURL = new URL(Astro.url.pathname, Astro.site || 'https://simoneboldrini.com'), ...head } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased break-words">
    <head>
        <SchemaOrg />
        <BaseHead {...head} />
        <!-- Add canonical link tag -->
        <link rel="canonical" href={canonicalURL} />
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
        <ViewTransitions />
    </head>
    <body class="bg-main text-main">
        <div class="flex flex-col min-h-screen px-4 md:px-8">
            <Nav />
            <!-- {showHeader && <Header />} -->
            <!-- Change max-w-3xl to max-w-5xl for wider content -->
            <main class="grow w-full max-w-5xl mx-auto pt-4">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
